@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200..800&family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200..800&family=Hind:wght@300;400;500;600;700&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.cdnfonts.com/css/sicret-mono-personal');
@import url('https://fonts.cdnfonts.com/css/sicret-personal');

@import url(https://db.onlinewebfonts.com/c/3b0af0a5646c72ecd1b6a4edfc1b2fc1?family=Mediator+Cond+Web+Light);
@import url(https://db.onlinewebfonts.com/c/41993a12c268f72218902d0b376bc11b?family=Diverda+Sans+Com+Black+V1);

.PageFormImage{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right top, #d0e3ff, #c9e9ff, #c3efff, #c0f5ff, #bffaff);
    
}

.BemVindo h1{
    line-height: 20px;
    color: #032535;
}
.BemVindo p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000;
}
.midBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column; /* Alteração para column */
    padding: 20px;
    width: 50vh;
    min-height: 35vh;
    /* From https://css.glass */
/* From https://css.glass */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.2px);
    -webkit-backdrop-filter: blur(1.2px);
}

.midBox form{
    display: flex;
    flex-direction: column; /* Alteração para column */
    margin: 7px;
}
.midBox label{
    margin: 1px 0px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px; 
}
.input-wrapper input {
    width: 350px;
    background-color: #b5deff;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    margin: 8px;
  }
  
  .input-wrapper input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;  }

    .input-wrapper input:hover{
        outline: 1px solid lightgrey;

    }

.midBox button  {
    align-self:center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 250px;
    background-color: #6f8dd9;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* font-family: "Lexend", sans-serif; */
    font-optical-sizing: auto;
    font-weight: 50px;
    font-style: normal;
    font-size: 20px;
}
.midBox button:hover {
    transform: scale(1.05); /* Aumenta um pouco o tamanho no hover */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); /* Adiciona sombra no hover */
    background-color: #9580fd;

}
.midBox p{
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
    line-height: 1;
    
}

.lineLink{
    text-decoration: none;
    color:#022838;
    cursor: pointer;
}
.lineLink:hover{
    color:#0070a0;
}

.line:hover{
    transform: scale(1.1);
}


.imgContainer {
    display: flex;
    align-items: center;
    overflow: hidden; /* Garante que a imagem não ultrapasse as dimensões do contêiner */
  }
.imglogin{
    width:90%;
    height: auto;
}
.instructions {
    border-radius: 0.3rem; /* Reduzi o raio da borda para uma aparência mais sutil */
    color: #333;
    padding: 0.3rem 0.5rem; /* Ajustei o padding para mais espaço interno e melhor aparência */
    position: relative;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionei uma sombra sutil */
    margin: 10px 0px; /* Adicionei uma margem inferior para separar do input abaixo */
    width: 350px;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid,
.invalid {
    margin-left: 0.25rem;
}

.valid {
    color: limegreen;
}

.invalid {
    color: red;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}



/* Estilos para o botão do menu */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Noto+Sans+TC:wght@500&family=Tajawal:wght@500&family=Ubuntu:wght@500&display=swap');
#btmenuid{
    position: fixed;
    top: 15px; /* Ajuste a posição do topo conforme necessário */
    left: 10px; /* Ajuste a posição da esquerda conforme necessário */
    z-index: 1000; /* Garante que o botão fique acima dos outros elementos */
    padding: 5px 12px;
}
.botao-menu {
    cursor: pointer;
    color: black;
    background-color:#6f8dd9;
    border:none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius:2px;
    transition: left 0.2s ease-in-out; /* Adiciona uma transição suave ao mostrar/ocultar o menu */
  }
  .botao-menu:hover{
    color: #333; /* Cinza escuro */
    background-color: #9580fd; /* Cinza claro */
  }
  .menu-completo .botao-menu{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  .menu-completo #btmenuid{
    left: 200px;
  }
  /* Estilos para o menu-lateral */
  .menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9; /* Cor de fundo do menu */
    width: 250px; /* Largura do menu */
    height: 100vh; /* Altura total da tela */
    position: fixed;
    top: 0; /* Alinha o menu no topo da tela */
    left: -250px; /* Esconde o menu inicialmente */
    transition: left 0.3s ease-in-out; /* Adiciona uma transição suave ao mostrar/ocultar o menu */
    z-index: 999; /* Garante que o menu fique abaixo do botão */
  }
  
  /* Estilos para o menu completo */
  .menu-completo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.2px);
    -webkit-backdrop-filter: blur(1.2px);
    width: 250px; /* Largura do menu */
    height: 100vh; /* Altura total da tela */
    position: fixed;
    top: 0; /* Alinha o menu no topo da tela */
    left: 0; /* Posição inicial do menu completo */
    transition: left 0.3s ease-in-out; /* Adiciona uma transição suave ao mostrar/ocultar o menu */
    z-index: 998; /* Garante que o menu fique abaixo do botão */
  }
  /* Estilos para a lista de menu */
.lista-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 230px;
  }
  
  /* Estilos para a linha separadora */
  .linha-separadora {
    border-top: 1px solid #555;
    margin: 10px 0;
  }
  
  /* Estilos para os itens do menu */
  .lista-menu li {
    color: #250a0a;
    margin: 10px 0;
    font-size: 20px;
    display: flex;
    justify-content:center;
    padding: 5px;
    font-weight: 550;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  }
  
  .lista-menu li:hover{
    background-color:#9580fd;
    border-radius: 5px;
    opacity: 1;

  }
  
  /* Estilos para os links no menu */
  .lista-menu .link {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out; /* Adiciona uma transição suave na cor ao passar o mouse */
  }
  
  /* Estilos para o ícone no menu */
  .lista-menu .icon {
    margin-right: 10px;
  }
  
  /* Efeito de hover nos links do menu */
  .lista-menu .link:hover {
    color: black; /* Cor alterada ao passar o mouse */
  }
  
  .link{
    text-align: center; /* Centraliza horizontalmente */
    line-height: 1; /* Espaçamento entre linhas */
    margin: 0; 
    letter-spacing: 2px;
    margin-top: 5px;
  }

  .cont {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /* Evita que os itens quebrem para a próxima linha */
   
  }
  
  /* Estilo dos filhos */
  .cont > * {
    flex: 0.3 1; /* Define a capacidade de crescimento, encolhimento e base para auto */
    
  }
    
.content {
      flex: 1; /* Ocupa todo o espaço disponível */ /* Espaçamento interno para o conteúdo */
      /* Outros estilos do conteúdo */
      margin-right: 200px;
      margin-left: 250px;


}



.Logout{
  position: fixed;
  top: 92vh; /* Ajuste a posição do topo conforme necessário */
  left: 10px; /* Ajuste a posição da esquerda conforme necessário */
}
    

/*Card*/

.card-other{
  border-radius: 0.75rem;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),
  0 2px 4px -2px rgba(0,0,0,.1);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 370px;

}

.header {
  position: relative;
  background-clip: border-box;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.75rem;
  background-color: rgb(33 150 243);
  box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),0 4px 6px -4px rgba(33,150,243,.4);
  height: auto;
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: center;
}


.info {
  border: none;
  padding: 1.5rem;
  text-align: center;
}

.title {
  margin-top: 15px;
  color: rgb(38 50 56);
  letter-spacing: 0;
  line-height: 1;
  font-weight: 600;
  font-size: 1rem;
}

.footer {
  padding: 0.75rem;
  border: 1px solid rgb(236 239 241);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 140, 255, 0.082);
}

.tag {
  font-weight: 300;
  font-size: .75rem;
  display: block;
}

.action {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px -1px rgba(33,150,243,.4),0 2px 4px -2px rgba(33,150,243,.4);
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(33 150 243);
  border-radius: 0.5rem;
}

/*posição card */

.CardFeed {
  display: flex;
  justify-content: space-around; /* Distribui os elementos uniformemente ao longo do espaço disponível */
  align-items: flex-start; /* Alinha os elementos ao topo */
  flex-wrap: wrap; /* Permite que os elementos se movam para a próxima linha se não houver espaço suficiente */
  margin: 20px; /* Margem ao redor da seção */
}
.Page{
  margin:5vh;
  display: flex;
  flex-direction: column;
  align-items:center;

}
.BoxForm{
  width: 80vh;
  min-height: 50vh;
  border-radius: 30px;
  background: #baacff;
  box-shadow: 5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin: 10px;
  
}

.HeaderForm{
  display: flex;
  flex-direction: column; /* Garante que os filhos fiquem um embaixo do outro */
  align-items:center;
  justify-content: center;
  
  line-height: 0.5;
  height: 35%;
  margin-top: 35px; 

  text-align: center; /* Alinha o texto ao centro */
}
.HeaderForm h1{
line-height: 0.8;
}

.HeaderForm h2{
  font-size: 15px;
  word-wrap: break-word; /* Adiciona quebra de linha em palavras longas */
  /* ou */
  max-width: 600px; /* Ajuste o valor conforme necessário */
  align-self:center;
}
.BoxSelect{
  padding: 20px;
  width: 500px;
  /* max-height: 350px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

  /* display:flex;
   */
}

/* styles.css */

.select-container {
  width: 250px; /* ou o valor desejado */
  margin-bottom: 3px; /* espaço entre os SelectGenerico */
}

.select-container label {
  display: block;
  margin-bottom: 5px;
}

.select-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.card-other button {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  background-color: rgb(62, 48, 255)fd;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  /* text-transform: uppercase; */
  font-size: 15px;
  transition: all 0.5s ease;
}

.card-other button:hover {
  letter-spacing: 3px;
  background-color: #9580fd;
  color: hsl(0, 0%, 100%);
  box-shadow: #9580fd;
}

.card-other button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
.divTableContainer {
  max-height: 400px;
  overflow-y: auto;
  position: relative;
  border-radius: 5px;
  margin-bottom: 5px;

}

.tableMediaPond {
  width: 600px;
  border-collapse: collapse;
}

.tableHead th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  background-color: #f9f9f9; /* Cor de fundo neutra */

}

.tableHead th,
.tableBody td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}
.tableBody tr{
  background-color:#cfcece;
}

.tableBody tr:hover {
  background-color: #e0e0e0;
}

.tableBody {
  overflow-y: auto;
  max-height: calc(400px - 40px); /* 40px é a altura aproximada do cabeçalho, ajuste conforme necessário */

}


.divTableContainer::-webkit-scrollbar .boxFeed::-webkit-scrollbar {
  width: 12px;
  height: 5px;
}
.divTableContainer::-webkit-scrollbar-thumb .boxFeed::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 25px;
}



.groupSearch{
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
 }
 
 .inputSearch {
  width: 300px;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .inputSearch::placeholder {
  color: #9e9ea7;
 }
 
 .inputSearch:focus, .inputSearch:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 
 .iconSearch {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }
 
 
 /* The switch - the box around the slider */

.UtilSearchByName {
  display: flex; 
  justify-content: space-between; 
  align-items:center;
  max-width: 75%;
}

.sortNameValueContainer {
  margin-left: 10px; /* Adicione margem à esquerda para criar espaço entre os itens pai e filho */
}

.switchSort {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 20px;
}

.switchSort input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderSort {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  width: 60px;
}

.sliderSort:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .sliderSort {
  background-color: #2196F3;
}

input:focus + .sliderSort {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderSort:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.sortNameValueContainer{
  margin-left: 200px; /* Adicione margem à esquerda para criar espaço entre os itens pai e filho */
  display: flex; /* Adicione o display flex para os elementos ficarem lado a lado */
  align-items: center; /* Alinhe os itens verticalmente ao centro */
}
.sortNameValueContainer p {
  margin-left: 10px; /* Adicione margem à esquerda para espaço entre o checkbox e o texto */
  margin-top: 10px;
  transition: opacity 0.3s ease; /* Tempo da animação e curva de velocidade */
}

.colorGrap{
  background-color:white;
}
.header-and-util-wrapper {
  position: relative;
  top: 100;
  z-index: 1000;
}

.table-wrapper {
  /* Adicione estilos conforme necessário */
}
.text{
  margin: 100px;
}

.GraphSpace{
  width: 80%;
  background-color:white;
  border-radius:10px;
}



/* 3D tower loader made by: csozi | Website: www.csozi.hu*/

.loader {
  scale: 3;
  height: 50px;
  width: 40px;
}

.box {
  position: relative;
  opacity: 0;
  left: 10px;
}

.side-left {
  position: absolute;
  background-color: #286cb5;
  width: 19px;
  height: 5px;
  transform: skew(0deg, -25deg);
  top: 14px;
  left: 10px;
}

.side-right {
  position: absolute;
  background-color: #2f85e0;
  width: 19px;
  height: 5px;
  transform: skew(0deg, 25deg);
  top: 14px;
  left: -9px;
}

.side-top {
  position: absolute;
  background-color: #5fa8f5;
  width: 20px;
  height: 20px;
  rotate: 45deg;
  transform: skew(-20deg, -20deg);
}

.box-1 {
  animation: from-left 4s infinite;
}

.box-2 {
  animation: from-right 4s infinite;
  animation-delay: 1s;
}

.box-3 {
  animation: from-left 4s infinite;
  animation-delay: 2s;
}

.box-4 {
  animation: from-right 4s infinite;
  animation-delay: 3s;
}

@keyframes from-left {
  0% {
    z-index: 20;
    opacity: 0;
    translate: -20px -6px;
  }

  20% {
    z-index: 10;
    opacity: 1;
    translate: 0px 0px;
  }

  40% {
    z-index: 9;
    translate: 0px 4px;
  }

  60% {
    z-index: 8;
    translate: 0px 8px;
  }

  80% {
    z-index: 7;
    opacity: 1;
    translate: 0px 12px;
  }

  100% {
    z-index: 5;
    translate: 0px 30px;
    opacity: 0;
  }
}

@keyframes from-right {
  0% {
    z-index: 20;
    opacity: 0;
    translate: 20px -6px;
  }

  20% {
    z-index: 10;
    opacity: 1;
    translate: 0px 0px;
  }

  40% {
    z-index: 9;
    translate: 0px 4px;
  }

  60% {
    z-index: 8;
    translate: 0px 8px;
  }

  80% {
    z-index: 7;
    opacity: 1;
    translate: 0px 12px;
  }

  100% {
    z-index: 5;
    translate: 0px 30px;
    opacity: 0;
  }
}

.utilGraph{
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  width: 80%;
}
/* Estilo para FeedAluno */
.FeedAluno {
  padding: 20px;
  width: 100%;
}

/* Estilo para chamada (lista de alunos) */
.chamada {
  list-style: none;
  padding: 0;
  position: relative;
  margin-bottom: 0px;

  }

/* Estilo para o cabeçalho */
.cabecalho {
  /* position: absolute;
  top:0px;
  left: 18px;
  width: 95%; */
  display: flex;
  justify-content: space-around;
  background-color: #6d8599;
  color: #000000;
  padding: 10px;
  font-weight: bold;
  padding-left: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 1px;
  /* width: 100%; */
}

.boxFeed{
  overflow: auto;
  background-color:#92aabd;
  max-height: 370px;
  min-height: 370px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* Estilo para cada aluno na chamada */
/* Estilo para SingleAlunoSelect */
.singleAluno {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding-left: 10px;
  border: 1px solid #ccc;
  background-color: #bfc7d1;
  transition: background-color 0.3s, border 0.3s, color 0.3s; /* Adicionei uma transição para suavizar a mudança */
}

.ativo {
  background-color: #4d90af;
  border: 1px solid #4d90af; /* Ajustei para incluir a propriedade 'solid' e manter a consistência */
  color: white;
}

.singleAluno:hover {
  background-color: #35728f;
  border: 1px solid #35728f; /* Ajustei para incluir a propriedade 'solid' e manter a consistência */
  color: white;
}

.singleAlunoContent{
  display: flex;
  justify-content: space-around;
  align-items:center;
  width: 100%;
  height: 40px;
  /* margin-top: 20px; */
}
.singleAlunoContent p{

  margin-top: 15px;
}

.singleAluno input {
  margin-right: 10px;
  align-self: center;
}

.singleAluno li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.singleAluno strong {
  font-weight: bold;
}

/* .pGrupo{
  margin-right: 20px;
} */

/* Estilizando a barra de rolagem */
.boxFeed::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

.boxFeed::-webkit-scrollbar-track {
  /* background: #f1f1f1; Cor de fundo da barra de rolagem */
}

.boxFeed::-webkit-scrollbar-thumb {
  background-color: #576977; /* Cor do botão de rolagem */
  border-radius: 10px; /* Raio do botão de rolagem */
}

.boxFeed::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor do botão de rolagem ao passar o mouse */
}

.Utils {
  display: flex;
  align-items: center; /* Centraliza os elementos na vertical */
  width: 100%;
  justify-content:space-evenly;
  height: 100%;
  padding-bottom: 20px;
}

.SelectGrupo {
  /* margin-top: 50px; Ajustado para margin-top em vez de margin */
  max-width: 30px; /* Ajustado o máximo de largura para evitar que o seletor de grupo ocupe toda a largura */
  margin: 100px;
}
.Utils select {
  border: 2px solid transparent;
  border-radius: 8px;
  text-align: center;
  width: 80px;
  height: 38px;
  outline: none; /* Remove o contorno ao receber foco */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0); /* Sombra inicial */
  transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave */
}

.Utils select:hover {
  border-color: rgba(234,76,137,0.4); /* Mudança de cor da borda ao focar */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra suave ao focar */
}
.chart{
  width: 90%;
  height: 350px;
  background-color:whitesmoke; 
  border-radius:8px;
}
.visualize{
  width: 600px;
  min-height:400px;
  background-color:rgb(140, 156, 177);
  margin-bottom: 50px;
  border-radius: 20px;
  display:flex;
  align-items:center;
  justify-content: center;
}
.DuvidaBox {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 80%;
  height: 80%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.DuvidaBox:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.DuvidaBox h2 {
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: bold;
}
.DuvidaBox h3 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

.DuvidaDiv {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.DuvidaDiv:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.DuvidaDiv p {
  margin: 0;
  font-size: 16px;
}
.Box2{
  width: 830px;
  height: 350px;
  margin: 10px;
  display: flex;
  align-items:center;
  justify-content: center;
}

.Box{
  width: 600px;
  min-height: 350px;
  margin: 10px;

}
.SelectBts{
  margin: 5px;
}

.scrollable-table {
  max-height: 10px; /* ou o valor desejado */
  overflow-y: auto;
}

.table-wrapper {
  height: 290px; /* ou o valor desejado */
  overflow-y: auto;
  background-color:white;
  margin: 10px;
}


.table-wrapper thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.utils{
  display:flex;
  flex-direction: column;

} 
.utils > * {
  margin-bottom: 10px; /* ou outro valor de sua escolha */
}

.All{
  /* display: 'flex';
  flex-direction: 'column'; */
  min-height:880px;
  width: 700px;
}

.apexcharts-tooltip {
  color: black; /* ou qualquer cor desejada */
}


/*css referente ao Header providenciado pelo design*/
.HeaderFinal{ 
  height: 150px;
  background-color:#3fb1e2;
  display: flex;
  align-items:center;
}

.ButtonHeaderFinal{
  height: 80px;
  width: 100px;
  margin: 40px 20px 40px 50px;
  background-color:#3fb1e2;
  color:white;
  border:none;


  /* top: 20px;
  left: 20px; */
  /* background-color: transparent; */
  /* border: none; */
  cursor: pointer;
  /* font-size: 24px; */
  /* color: #fff; */
 
}
.ButtonHeaderFinalClose{
  position: fixed;
  height: 80px;
  width: 100px;
  background-color: transparent;
  color:white;
  top: 38px;
  left: 150px;
  border:none;
  cursor: pointer;
}

/* .testeee{
  position: fixed;
} */


.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* largura do menu */
    height: 100%; /* altura do menu */
    background-color: #333; /* cor de fundo do menu */
    color: #fff; /* cor do texto do menu */
    padding-top: 50px; /* espaço acima do conteúdo do menu */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 1s ease;
}

.menu ul li:hover {
    background-color: #555; /* cor de fundo do item do menu ao passar o mouse */
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}



.ButtonHeaderFinal .icon {
  font-size: 60px; /* Aumenta o tamanho do ícone */
  transition: background-color 0.3s; /* Adiciona uma transição suave */
}

.ButtonHeaderFinalClose .icon {
  font-size: 60px; /* Aumenta o tamanho do ícone */
  transition: background-color 0.3s; /* Adiciona uma transição suave */
}

.ButtonHeaderFinal:hover {
  color: #f5f5f5; /* Altera a cor de fundo do ícone ao passar o mouse */
}

.ButtonHeaderFinal:hover img {
  filter: brightness(50%); /* Altera o brilho da imagem quando o mouse passa sobre o botão */
}

.IconButtonFinal {
  /* background-image: url('./components/Header/img/icone-removebg-preview.png'); */
  background-size: contain; /* Redimensiona a imagem para caber dentro do elemento */
  background-position: center; /* Centraliza a imagem */
  height: 100px;
  width: 300px;
  border:none;
  background-color: transparent; /* Define o fundo como transparente */
  padding: 0;
  
}
.IconButtonFinal img{
  height: 100px;
  width: 100px;
}
.IconButtonFinal {
  font-family: 'Sicret PERSONAL', sans-serif;
  font-size: 70px;
  color:white;
  position: absolute;
  margin-left: 300px;
}
.InputSearchFinal{
  position: absolute;
  margin-left: 1022px;
  margin-top: 40px;
}
.InputSearchFinal input{
  width: 492px;
  height: 45px;
  background-color:transparent;
  border:none;
  border-bottom:2px solid white;

}

/* .All > *{
  flex:1;
} */


.search-container {
  position: relative;
}

.search-input {
  padding-left: 40px; /* Ajuste conforme necessário */
  font-family: "Mediator Cond Web Light"; 
  font-size: 30px; /* Define o tamanho da fonte */
  color: White; /* Define a cor do texto */
  font-style: bold;
  letter-spacing: 0.5px; /* Ajuste conforme necessário */
  transition: border-bottom-color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor da borda inferior */


}

.search-input::placeholder {
  color: White; /* Define a cor do texto do placeholder */
}
.search-input:focus {
  outline: none; /* Remove o contorno padrão */
  border-bottom-color: #007bff; /* Altera a cor da borda inferior para azul quando o input está em foco */
}
.search-input:focus + .search-icon {
  color: #007bff;
  font-size: 1.5em;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px; /* Ajuste conforme necessário */
  transform: translateY(-50%);
  color:white;
  font-size: 1.2em; /* Ajuste o tamanho conforme necessário */
  /* font-family: "Mediator Cond Web Light"; */
  
}

.RadioHeader{
  position: absolute;
  margin-left: 1550px;
  margin-top: 60px;
  background-color:transparent;

}
/* Estilo padrão do botão de rádio */
.RadioHeader input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  outline: none; /* Remove o contorno padrão */
  cursor: pointer; /* Altera o cursor ao passar sobre o botão de rádio */
}

.RadioHeader input[type="checkbox"]:checked {
  background-color: #007bff;
}
.RadioHeader label{
  margin-left: 5px;
  color:white;
  position: relative;
  top:-6px;
  font-family: "Diverda Sans Com Black V1";
  font-size: 1.2em;
  font-weight: 500;
}
.menuItemsDiv{
  margin-top: 200px;
  margin-bottom: 490px;
}
.btnLogout{
  margin-top: 300px;
}

.graph-container .g-xtext {
  display: none;
}
